@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal 16px arial;
}

body {
    background-color: #87cefa;
    background-image: url(fundopx.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}



header h1 {
    font: bold 4em arial;
    color: #fff;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.678);
    margin-bottom: 40px;
}

section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.479);
    padding: 15px;
    width: 700px;
    margin-bottom: 30px;
}

footer p {
    font: italic 1.5em arial;
    color: #fff;
}